.dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px; /* Adjust the width as per your requirement */
    max-width: 90%; /* Limit the width to 90% of the viewport */

  }



.close-button{
    margin-top : 20px;

}