.dialog-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 238, 238);
    padding: 20px;
    border: 1px solid #181717;
    width: 800px;
    max-width: 90%; 
    max-height: 400px;
    border-radius: 10px;
    overflow-y: auto;
    border-radius: 10px;


    position: fixed;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

.dialog-container:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


.references{
    border: 1px solid #181717;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.chip{
    display: inline-flex;
    align-items: center;
    background-color: #f4f1f1;
    padding: 2px 4px;
    border-radius: 10px;
    margin-right: 2px;
}

.configure{
  text-align: center;
}

.entry-row {
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
  
.entry-row input {
    margin-right: 10px;
    border-radius: 10px;
    margin-left: 20px;
    
}

.row{
    margin: 5px;
    border-radius: 10px;
    
}


.label-input {
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.input-container input {
    flex: 1;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-left: 20px;
  }
  
.input-container button {
    margin-left: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.dropdown-container{
    margin-left: 20px;
    border-radius: 50px;
    box-sizing: border-box;
}
  




.close-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #ccc;
    border: none;
    color: white;
    cursor: pointer;
  }
  
.close-button:hover {
    background-color: #999;
}

.editor{
    width: 100%;
}