 <app-navbar></app-navbar>

  <div class="side_navbar" *ngIf="side_Navbar && projects.length!=0" >
    <div *ngFor="let item of projects">
      <ul><button  (click)="openproject(item)" >{{item.projectName}}</button></ul>


    </div> 
    <!-- <div *ngFor="let item of data">
      <ul><button  (click)="openproject1()"  [ngClass]="{'grey' : toggle1, 'black': !toggle1}">data.property</button></ul>
    </div> -->
  </div>
 
   
    
 <app-project-page [projectdata]="projectsend" [configurationdata]="configurationsend" class="container"  *ngIf="should_open" ></app-project-page>


 
 