<div class="container">
  <app-navbar class="app_nav"></app-navbar>
  <div class="form_div">
    <form [formGroup]="projectform" (ngSubmit)="saveproject()">

        <label>Name</label>
        <input type="text" name="text" id="text" [(ngModel)]="project.projectName" placeholder="Enter the project name" [ngModelOptions]="{standalone: true}">

  
  
  
        <label>Memory</label>
        <input type="text" name="memory" id="memory" placeholder="Enter the memory" [(ngModel)]="configurations.memory" [ngModelOptions]="{standalone: true}">
  

     
        <label>CPU</label>
        <input type="text" name="cpu" id="cpus" placeholder="Enter the number of cpus" [(ngModel)]="configurations.cpus" [ngModelOptions]="{standalone: true}">
    

        <label>Storage</label>
        <input type="text" name="Storage" id="storage" placeholder="Enter the storage" [(ngModel)]="configurations.storage" [ngModelOptions]="{standalone: true}">
    


        
        <button mat-button type="submit" class="black">Save</button>
        <button mat-button type="reset" class="close" (click)="closeform()">Close</button>
    </form>
  </div>
    
</div>
