<div class="container">
  <app-navbar class="app_nav"></app-navbar>
  <div class="form_div">
    <form  class="card-form" [formGroup]="projectform" (ngSubmit)="f.form.valid && saveproject()"  #f="ngForm">
        <div class="input">
          <input class="input-field" id="projectname" type="text" name="text"   #projectName="ngModel" value="Project" [(ngModel)]="project.projectName"  [ngModelOptions]="{standalone: true}" required/>
          <label class="input-label">Project Name</label>
          
        </div>
      
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="project.projectName==null&& f.submitted"
          >
  
          Please fill project name!
        </div>
        <div class="input">
          <input class="input-field" id="memory" type="text" name="memory"  required #memory="ngModel" value="Memory" [(ngModel)]="configurations.memory" [ngModelOptions]="{standalone: true}" required>
          <label class="input-label">Memory</label>
          
        </div>
       
  
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="configurations.memory==null && f.submitted"
          >
  
          Memory is required!
        </div>
        <div class="input">
          <input class="input-field" id="cpus" type="number" min="0" name="cpu" #cpus="ngModel"  [(ngModel)]="configurations.cpus" [ngModelOptions]="{standalone: true}" required>
          <label class="input-label" >CPU</label>
         
        
        </div>
        
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="configurations.cpus==null && f.submitted"
          >
  
          Please fill required number of cpu!
        </div>

        <div class="input">
          <input class="input-field" id="storage" type="text" name="Storage" #Storage="ngModel" [(ngModel)]="configurations.storage" [ngModelOptions]="{standalone: true}" required>
          <label class="input-label">Storage</label>
         
    
        </div>
        
        <div
        class="alert alert-danger"
        role="alert"
        *ngIf="configurations.storage==null && f.submitted"
        >

        Storage is required!
        </div>
        

        
        <button mat-button type="submit" [disabled]="issaving" class="black">Save</button>
      
       
    </form>
  </div>
    
</div>
