.form_div {
    width:35%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin:13% auto; 
    border-radius: 15px;
    padding-bottom: 4em;
    
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
 
  label{
    color:black;
    width:200px;
    margin:0;
    font-size: large;
  }
  button{
    border-radius: 40%;

    float:right;
    margin: 6px 2%;
  }
  .black{
    background-color:#1E90FF;
    color:white;
  }
  .close{
    background-color:#1E90FF;
    color:white;
  }

  .app_nav{
    grid-area:app_nav;
  }
  .form_div{
    grid-area:form_div;
  }
  @media only screen and (max-width: 1000px) {
    .form_div {
      border-radius: 5px;
      background-color:  #f2f2f2;

      width:60%;
      display: flex;
      margin:15%  auto;
      /* height: 20vh; */
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      /* padding-bottom: 50px; */
      
    }
    input[type=text], select {
      width: 100%;
      padding: 6px 10px;
      margin: 4px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    label{
      color:black;
      width:200px;
      margin:0;
      font-size: medium;
    }
    button{
      border-radius: 20%;
      float:right;
      margin: 4px 1%;
      
      font-size: 0.8em;
    } 
  }
