body{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	display: flex;
  max-height: 100vh;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav{
  display: flex;
  padding: 0;
}
.nav-item{
  list-style-type: none;
  margin-inline: 20px;
  margin-top: 10px;
}
.nav-link{
  text-decoration: none;
  font-size: 1rem;
	background: #1E90FF;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.nav-link:hover, .nav-link:focus, .nav-link:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@media only screen and (max-width: 400px) {
	body {
	  background-color: yellow;
	}
  }