
<div class="container">
   <button type="button" (click)="showServerData()">Connect to Server</button>
   <p>{{response}}</p>
</div>



<div class = "flex-container">

<div id = "tool-box">
   <h3>ToolBox</h3>
   <div class="grid-container">
      <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>
      <!-- Add more grid items as needed -->

      <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>



       <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>



       <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>


       <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>



       <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>


       <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>



       <div class="grid-item" >
        <img draggable="true" src="assets/databaseResized.png" alt="database" id="database" class="grid-image" />
      </div>
      <div class="grid-item">
        <img draggable="true" src="assets/restCall.png" alt="restInterface" id="restInterface" class="grid-image" />
      </div>
      <div class="grid-item">
         <img draggable="true" src="assets/QueueResized.png" alt="queue" id="queue" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/LamdaResize.png" alt="function" id="function" class="grid-image" />
       </div>
       <div class="grid-item">
         <img draggable="true" src="assets/big-data.png" alt="input" id="input" class="grid-image" />
       </div>
    </div>
</div>

<div id="canvas-container">
   <canvas id="canvas" ></canvas>
   <app-dialog
   [target]="targetObjectForDialog"
   [isOpen]="isDialogOpen"
   [canvas]="canvas"
   (onClose)="closeDialog()">
  </app-dialog>
</div>

<div class="button-container">
  <div>
     <button type="button" (click)="sendCanvasDataToBackend()">Save</button>
      <button type="button">Run</button>
      <button type="button">Build</button>
     <button type="button" (click)="runSimulation()">Go Live</button>
  </div>
</div>
</div>





