form{
    width:100%;
}

mat-label{
    background-color: white;
    color:blue;
    font-size: 1.5em;
}
mat-card{
    margin-top:1rem;
    background-color: white;
}
.mat-mdc-form-field{
    width:98%;
    margin:3%;
}


button{
    margin:2%;
    float:right;
}
input{
    color:green;
}
