<form (ngSubmit)="saveproject()">

    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label class="mat-50">Name</mat-label>
                <input value="Query handler" matInput [(ngModel)]="projectName" [ngModelOptions]="{standalone: true}">
    
            </mat-form-field>
            <mat-form-field>
                <mat-label class="mat-50">Memory</mat-label>
                <input value="5G" matInput [(ngModel)]="memory" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="mat-50">Storage</mat-label>
                <input value="20GB" matInput [(ngModel)]="storage" [ngModelOptions]="{standalone: true}">
    
            </mat-form-field>
            <mat-form-field>
                <mat-label class="mat-50">CPU</mat-label>
                <input value="5"matInput [(ngModel)]="cpus" [ngModelOptions]="{standalone: true}">
    
            </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
            <div>
                <button mat-raised-button  type="submit" color="primary" (click)="saveproject()">Save</button>
                <button mat-raised-button color="warn" (click)="closeform()">Close</button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>
    