<div class="form_div">
    <form [formGroup]="projectform" (ngSubmit)="updateproject()">
 
        <label>Name</label>
        <input type="text" name="text" id="text" [(ngModel)]="project.projectName" placeholder="Queries handler" [ngModelOptions]="{standalone: true}">
 
  
  
  
        <label>Memory</label>
        <input type="text" name="memory" id="memory" placeholder="10GB" [(ngModel)]="configurations.memory" [ngModelOptions]="{standalone: true}">
  
 
     
        <label>CPU</label>
        <input type="text" name="cpu" id="cpu" placeholder="5" [(ngModel)]="configurations.cpus" [ngModelOptions]="{standalone: true}">
    
 
        <label>Storage</label>
        <input type="text" name="Storage" id="storage" placeholder="20GB" [(ngModel)]="configurations.storage" [ngModelOptions]="{standalone: true}">
    
 
 
        
        <button mat-button type="submit" class="black">Update</button>
        <button mat-button type="submit" class="close" (click)="closeform()">Close</button>
        <button mat-button type="submit" class="black" (click)="closeform()">Delete</button>
    </form>
</div>
    