.form_div {
    margin:20px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:90%;
    height: 37vh;
    border-radius: 15px;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
 
  label{
    color:black;
    width:200px;
  }
  button{
    border-radius: 40%;
    /* margin:4%; */
    float:right;
    margin: 6px 2%;
  }
  .black{
    background-color: black;
    color:white;
  }
  .close{
    background-color:red;
    color:white;
  }