/* You can add global styles to this file, and also import other style files */


.header {
    display: flex;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    height: 25px;
  }
  
  .logo {
    margin-right: 10px; /* Add some space between the logo and the heading */
  }
  
  .logo-image {
    width: 60px; /* Adjust the width of the logo as needed */
    height: 45px; /* Adjust the height of the logo as needed */
  }
  
  h1 {
    color: rgb(6, 3, 22);
    font-weight: bolder; /* Make the text bold */
    margin: 0; /* Remove any default margin */
    flex: 1; /* Allow the heading to take up the remaining space */
    text-align: center; /* Center the text horizontally */
    padding: 10px;
  }
  
  h1{
    color: rgb(6, 3, 22);
    background-color: #007bff;
    justify-content: center;
    text-align: center; /* Center the text horizontally */
    font-weight: bolder; /* Make the text bold */
    padding: 10px;

    
}




body{
    background-color:rgb(244, 238, 238);
    background-position: center;
   /* background-image: url("assets/background.jpeg") */
    
}

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/addon/hint/show-hint.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
