/* You can add global styles to this file, and also import other style files */
h1{
    color: rgb(6, 3, 22);
    background-color: #007bff;
    justify-content: center;
    text-align: center; /* Center the text horizontally */
    font-weight: bolder; /* Make the text bold */
    padding: 10px;
    
}



body{
    background-color:rgb(244, 238, 238);
    background-position: center;
   /* background-image: url("assets/background.jpeg") */
    
}

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/addon/hint/show-hint.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
