<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isLoggedIn">
    <div class="nav-left">
      <div class="logo">
        <img src="assets/jio-logo-resized.png" alt="Logo" class="logo-image" />
      </div>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
      </ul>
    </div>
    
    <div class="nav-right" clickOutside (clickOutside)="clickedOutside()">
      <div class="profile-dropdown-btn" (click)="toggleDropDown()">
        <div class="profile-img">
            <i class="fa-solid fa-circle"></i>
        </div>
        <span>
            {{ username }}
            <i class="fa-solid fa-angle-down"></i>
        </span>
      </div>
      <ul class="profile-dropdown-list" *ngIf="isDropDownOpened">
        <li class="profile-dropdown-list-item">
            <a href="#">
                <i class="fa-regular fa-user"></i>
                Account
            </a>
        </li>
        <li class="profile-dropdown-list-item">
            <a href="#">
                <i class="fa-solid fa-sliders"></i>
                Preferences
            </a>
          <hr>
          </li><li class="profile-dropdown-list-item">
            <a href class="nav-link" (click)="logout()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Logout
            </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="centerContainer">
    <ul class="projectBtns">
      <li class="twoBtns">
        <a href="#" class="btns">Create Project</a>
      </li>
      <li class="twoBtns">
        <a href="#" class="btns">Open Project</a>
      </li>
    </ul>
  </div>