.centerContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twoBtns{
    list-style-type: none;
    display: grid;
    padding: 1rem;
}

.btns{
    text-decoration: none;
    font-size: 1rem;
    background: #1E90FF;
	padding: 1rem;
	text-align: center;
    color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.btns:hover, .btns:focus, .btns:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.container{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1.5fr 1fr;
    grid-template-rows:0.1fr 0.4fr 0.6fr 0.4fr ;
	grid-template-areas:"nav nav nav"
	
	"center center center"
	;
} 
.nav{
	grid-area: nav;
}
.centerContainer{
	grid-area: center;
}
@media only screen and (max-width: 900px) {
	.twoBtns{
		padding: 0.5rem;
	}
	
	.btns{
		font-size: 0.9rem;	
		padding: 0.8rem;
	}
	
	
}