nav{
    background-color: #242b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0.5rem;
}

.navbar-brand{
    color: white;
    text-decoration: none;
    font-size: large;
}
  
.nav-item{
    list-style-type: none;
}
  
.nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: medium;
    margin: 10px;
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right{
    position: relative;
    width: fit-content;
   
}



.profile-img{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background: url(../../assets/user_avatar.jpg);
}

.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    font-size: 0.75rem;
    color: green;
}

.profile-dropdown-list {
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: #242b2b;
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    transition: max-height 0.5s;
}

.profile-dropdown-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 50px;
    color: white;
}

.profile-dropdown-btn:hover{
    background-color: grey;
    transition: 0.2s;
}

.profile-dropdown-btn span{
    margin: 0 0.5rem;
    margin-right: 0;
}

.profile-dropdown-list-item{
    padding-right: 0.3rem;
}

.profile-dropdown-list-item:hover {
    cursor: pointer;
}

.profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
}

.centerContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twoBtns{
    list-style-type: none;
    display: grid;
    padding: 1rem;
}

.btns{
    text-decoration: none;
    font-size: 1rem;
    background: #1E90FF;
	padding: 1rem;
	text-align: center;
    color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.btns:hover, .btns:focus, .btns:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}